
.page-section {
  min-height: 100vh;          
  display: flex;               
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transition: background 0.5s ease-in-out;
}



.about-section {
  background-color: #f0f0f0;
  background-image: url('./assets/JUSTICEL.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;

}

.contact-section {
  background: linear-gradient(to right, #373b44, #4286f4);
}
.balance-section {
  background-color: #f0f0f0;
  background-image: url('./assets/image2.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: brightness(1.2);
  min-width: 100vw;
  min-height: 100vh;

}
.help-section {
  background-color: #f0f0f0;
  background-image: url('./assets/image1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section {
  background-color: #f0f0f0;
  background-image: url('./assets/contact.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.cart-section {
  background-color: #dd7ffaf0;
  background-image: url('./assets/cart.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

.home-section > .Slideshow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; 
  filter: blur(8px) ; /* blur and darken background */
  transition: filter 0.3s ease;
  min-height: 100vh;
  min-width: 100vw;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* On top of slideshow */
  text-align: center;
  color: #fff;
  max-width: 800px;
  padding: 0 20px;
}

.home-intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.home-intro span {
  color: #FFD700; /* gold accent */
  font-weight: 600;
}

.home-intro strong {
  color: #000000;
  font-weight: 700;
}

