.logo {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  filter:  drop-shadow(0 0 8px #fff);
  
  
}

.logo:hover {
    transform: scale(1.1);
    filter: brightness(2.5) drop-shadow(0 0 10px #fff);
    transition: all 0.3s ease;
}
.ho-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}