.slideshow {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideshow img {
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;       
  height: 100%;     
  object-fit: contain; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  opacity: 0.1;
  animation: slide 16s infinite;
}



.slideshow img:nth-child(1) { animation-delay: 0s; }
.slideshow img:nth-child(2) { animation-delay: 4s; }
.slideshow img:nth-child(3) { animation-delay: 8s; }
.slideshow img:nth-child(4) { animation-delay: 12s; }

@keyframes slide {
    0% {opacity: 0;}
    8% {opacity: 1;}
    33% {opacity: 1;}
    41% {opacity: 0;}
    100% {opacity: 0;}
}
